@font-face {
    font-family: "Avenir";
    src:url("./Avenir-Medium.otf")
}

body {
    font-family: 'Avenir';
    background-color: #525252;    
}

body h1 {
    font-size: 32;
    margin: auto;
    background-color: #808080;
}


